.contanier {
  display: flex;
}



.main-card-title {
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
}
.contanier img {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 300px;
  height: 400px;
  padding-left: 50px;
  padding-top: 30px;
}

.content {
  margin-left: 30px;
  padding-top: 35px;
  width: 100%;
  max-width: 600px;
  min-width: 300px;
}

.iframe-container {
  margin-left: 280px;
  width: 100%;
}

.iframe2 {
  margin-top: 40px;
  width: 100%;
  height: 400px;
  border: 2px solid rgb(62, 1, 62);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card {
  border-radius: 30px;
  border: none;
  background: transparent;
  box-sizing: border-box;
  width: 200px;
  height: 420px;
  gap: 30px;
}

.card-img-top {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border: 2px solid purple;
}

.card-body {
  height: 66px;
  overflow: hidden;
}

.card-title {
  color: azure;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  background: transparent;
  margin-top: -32px;
  border: none;
  font-size: 25px;
}

.footer-button {
  color: white;
  width: 90px;
  height: 35px;
  border: none;
  font-size: small;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  background-image: linear-gradient(220.55deg, #4063bc 0%, #6b0013 100%);
}

.link {
  text-decoration: none;
}

.search-container {
  border-radius: 30px;
  background-color: transparent;
  position: relative;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.search-input {
  padding-left: 20px;
  padding-bottom: 4px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 30px;
  border-bottom: none;

  margin-left: 15%;
}

.search-results {
  margin-top: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    rgb(17, 24, 39),
    rgb(88, 28, 135),
    rgb(124, 58, 237)
  );

  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 500px;
  overflow-y: auto;
}
.search-results::-webkit-scrollbar {
  width: 0;
}

.search-result {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-result:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.searchCard {
  display: flex;
}

.search-loading {
  z-index: 40;
}
.movie-poster {
  width: 50px;
  padding-left: 10px;
}
.img {
  padding-top: 10px;
  margin-left: 10px;
}

.movie-details {
  display: flex;
  justify-content: flex-start;

  color: white;
  width: 100%;
  padding-left: 20px;
}

.movie-title {
  clear: both;

  overflow: hidden;
  text-size-adjust: 50px;
}

.pagechanger {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .contanier {
    flex-direction: column;
    align-items: center;
  }

  .contanier img {
    width: 80%;
    max-width: 300px;
    padding-left: 0;
    padding-top: 20px;
  }

  .content {
    margin-left: 0;
    margin-top: 20px;
    width: 80%;
    text-align: center;
  }

  .iframe2 {
    margin-top: 150px;
    width: 100vw;
    max-width: 400px;
  }

 
}
