.navbar {
  display: flex;
  justify-content: space-between;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-bottom: 2px solid rgb(36, 181, 82);
}

.navbar-logo {
  color: rgb(98, 176, 46);
  margin-left: 30px;
  transition: 0.3s;
}

.navbar-logo:hover {
  transform: translateY(-5px);
}

.searchbox {
  width: 250px;
  height: 35px;
  border: none;
  padding: 0px;

  background: transparent;
  border-radius: 10%;
}

.links {
  display: flex;

  gap: 50px;
}

.navbar h5 {
  color: rgb(98, 176, 46);
  transition: 0.3s;
}
.navbar h5:hover {
  transform: translateY(-5px);
}

.contanier-top-img {
  color: goldenrod;
  text-align: center;
}

#top-img {
  margin-top: 20px;
  width: 1000px;
  height: 300px;
  object-fit: cover;
}
.caorusel {
  width: 800px;
  height: 240px;
  margin-top: 50px;
  border-radius: 30px;
  margin-bottom: 100px;
  overflow: hidden;
  background: transparent;
  border: none;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.caorusel-title {
  padding-top: 20px;
  margin-bottom: -35px;
  text-align: center;
  color: white;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #2c3e50;
  background: transparent;
}

.text-footer {
  color: white;
  text-align: center;
  padding-top: 20px;
}
.text-footer2 {
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  body {
    transform: scale(0.8);
    transform-origin: 0 0;
  }
  #top-img {
    margin-left: auto;
    width: 300px;
    height: 100px;
    object-fit: cover;
  }
  .caorusel {
    width: auto;
  }
}
